#mondayHours
	.hoursLabel
		label(for="mondayStartTime") Monday:
	.hoursClosed
		input(type='checkbox',id='mondayClose',value='Closed')
		|Closed
	.clear
	#mondayInput.row
		.three.ninth.mobile
			input(type='text',name='mondayStartTime',id='mondayStartTime',placeholder='9:00')
		.one.ninth.mobile
			span#mondayStartSuffix.suffix am
		.one.ninth.mobile.hoursSeperator
			|to
		.three.ninth.mobile
			input(type='text',name='mondayEndTime',id='mondayEndTime',placeholder='5:00')
		.one.ninth.mobile
			span#mondayEndSuffix.suffix pm
hr
#tuesdayHours
	.hoursLabel
		label(for="tuesdayStartTime") Tuesday:
	.hoursClosed
		input(type='checkbox',id='tuesdayClose',value='Closed')
		|Closed
	.clear
	#tuesdayInput.row
		.three.ninth.mobile
			input(type='text',name='tuesdayStartTime',id='tuesdayStartTime',placeholder='9:00')
		.one.ninth.mobile
			span#tuesdayStartSuffix.suffix am
		.one.ninth.mobile.hoursSeperator
			|to
		.three.ninth.mobile
			input(type='text',name='tuesdayEndTime',id='tuesdayEndTime',placeholder='5:00')
		.one.ninth.mobile
			span#tuesdayEndSuffix.suffix pm
hr
#wednesdayHours
	.hoursLabel
		label(for="wednesdayStartTime") Wednesday:
	.hoursClosed
		input(type='checkbox',id='wednesdayClose',value='Closed')
		|Closed
	.clear
	#wednesdayInput.row
		.three.ninth.mobile
			input(type='text',name='wednesdayStartTime',id='wednesdayStartTime',placeholder='9:00')
		.one.ninth.mobile
			span#wednesdayStartSuffix.suffix am
		.one.ninth.mobile.hoursSeperator
			|to
		.three.ninth.mobile
			input(type='text',name='wednesdayEndTime',id='wednesdayEndTime',placeholder='5:00')
		.one.ninth.mobile
			span#wednesdayEndSuffix.suffix pm
hr
#thursdayHours
	.hoursLabel
		label(for="mondayStartTime") Thursday:
	.hoursClosed
		input(type='checkbox',id='thursdayClose',value='Closed')
		|Closed
	.clear
	#thrusdayInput.row
		.three.ninth.mobile
			input(type='text',name='thursdayStartTime',id='thursdayStartTime',placeholder='9:00')
		.one.ninth.mobile
			span#thursdayStartSuffix.suffix am
		.one.ninth.mobile.hoursSeperator
			|to
		.three.ninth.mobile
			input(type='text',name='thursdayEndTime',id='thursdayEndTime',placeholder='5:00')
		.one.ninth.mobile
			span#thursdayEndSuffix.suffix pm
hr
#fridayHours
	.hoursLabel
		label(for="fridayStartTime") Friday:
	.hoursClosed
		input(type='checkbox',id='fridayClose',value='Closed')
		|Closed
	.clear
	#fridayInput.row
		.three.ninth.mobile
			input(type='text',name='fridayStartTime',id='fridayStartTime',placeholder='9:00')
		.one.ninth.mobile
			span#fridayStartSuffix.suffix am
		.one.ninth.mobile.hoursSeperator
			|to
		.three.ninth.mobile
			input(type='text',name='fridayEndTime',id='fridayEndTime',placeholder='5:00')
		.one.ninth.mobile
			span#fridayEndSuffix.suffix pm
hr
#saturdayHours
	.hoursLabel
		label(for="saturdayStartTime") Saturday:
	.hoursClosed
		input(type='checkbox',id='saturdayClose',value='Closed')
		|Closed
	.clear
	#saturdayInput.row
		.three.ninth.mobile
			input(type='text',name='saturdayStartTime',id='saturdayStartTime',placeholder='9:00')
		.one.ninth.mobile
			span#saturdayStartSuffix.suffix am
		.one.ninth.mobile.hoursSeperator
			|to
		.three.ninth.mobile
			input(type='text',name='saturdayEndTime',id='saturdayEndTime',placeholder='5:00')
		.one.ninth.mobile
			span#saturdayEndSuffix.suffix pm
hr
#sundayHours
	.hoursLabel
		label(for="sundayStartTime") Sunday:
	.hoursClosed
		input(type='checkbox',id='sundayClose',value='Closed')
		|Closed
	.clear
	#sundayInput.row
		.three.ninth.mobile
			input(type='text',name='sundayStartTime',id='sundayStartTime',placeholder='9:00')
		.one.ninth.mobile
			span#sundayStartSuffix.suffix am
		.one.ninth.mobile.hoursSeperator
			|to
		.three.ninth.mobile
			input(type='text',name='sundayEndTime',id='sundayEndTime',placeholder='5:00')
		.one.ninth.mobile
			span#sundayEndSuffix.suffix pm